button:hover {
    background-color: red;
  }


  nav {
    display: flex;
    align-items: center;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .hamburger span {
    width: 24px;
    height: 3px;
    background-color: black;
  }
  figure{
    display: block;
    position: relative;
    align-items: center;
  }

  figure img{
    display: block;
    margin: 0 auto;
    
  }
  figure div {
    position: absolute;
    top: 50%;
    left: 40%;
    color: antiquewhite;
    
    transform: rotate(45deg);
    font-size: 2.5rem;
  }
 


  
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  ul li {
    margin-right: 2rem;
  }
  
 

  nav ul {
    display: none;
  }
  
  nav:hover ul {
    display: flex;
  }


  .loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    transition: opacity 0.75s visibility 0.75s;

  }

  .loader--hide{
    opacity: 0;
    visibility: hidden;
}
  .loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid white;
    border-top-color: rgb(24, 121, 24);
    border-radius:50% ;
    animation: loading 0.7s ease infinite;
    
  }
  @keyframes loading {
    from {transform:rotate(0turn) }
    to {transform: rotate(1turn);}
    
  }